<header>
  <h1 class="app-title">My Budgeting App</h1>
  <br>
  <nav>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/transactions">Transactions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add-transaction">Add Transaction</a>
      </li>
      <!-- Add more navigation links as needed -->
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <p>&copy; 2023 My Budgeting App</p>
</footer>

